
.content-wrap{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,.9);
  align-items: center;
  border-top: solid white 10px;
}
.header-center{
  background:rgba(50,150,255, .4);
  border-left: solid white 10px;
  border-right: solid white 10px;
  padding: 1rem;
}

.content-wrap h2{
  opacity: 1;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1rem;

}
input,
button{
  height: 1.4rem;
  padding: .3rem .8rem;
  border: none;
  line-height: 1rem;
  margin: 0 1rem;
  box-sizing: unset;
  border: solid 2px rgba(0,0,0, 1);
  border-radius: 5px;
}

button{
  text-transform: uppercase;
  background: rgba(0,0,0,.9);
  border: solid 2px rgba(0,0,0,1);
  color: white;
  transition: 1s;
  cursor: pointer

}
button:hover{
  border: solid 2px rgba(255,255,255,1);
}

.header-wrap p{
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 1rem;
  display: flex;
  min-width: 15rem;
}
.header-wrap span{
  border-left: solid white 1px;
  border-right: solid white 1px;
  margin: 0 1rem;
  min-width: 3rem;
}





.card{
  width: 13vw;
  height: 13vw;
  background: rgba(0,0,0,.9);
  cursor: pointer;
  display: flex;
  justify-content: space;
  align-items: center;
  overflow: hidden;
  transition: .2s;
  border: solid 2px rgba(0,0,0,.5);
}
.card:hover{
  transform: scale(1.1);
  border: solid 3px white;

}

.card img{
  object-fit: cover;
}
.gameWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 62vw;
  height: 45vw;
  padding: 2vw;
  margin: auto;
  margin-top: 2vw;
  background: rgba(0,0,0,.9);
  
}
