
body{
font-family: sans-serif;
width: 100vw;
min-height: 100vh;
}

.content-wrap{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header-center,
.header-side{
  box-shadow: 1px 10px 15px rgba(0,20,20, .5)
}
.header-center{
  background:rgba(0,120,150, 1);
  margin: 0 10px;
  /* border-left: solid white 10px;
  border-right: solid white 10px; */
  padding: 1rem;
}
.header-side{
  background: rgba(0,0,0,.9);
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-grow: 100;
}
.score{
  justify-content: flex-end;
  flex-grow: 100;
}
.high-score{
  justify-content: flex-start;
  flex-grow: 100;
}

.content-wrap h2{
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1rem;
  max-width: 80rem;
  padding: 2rem 2.5rem;
  background: white;
  box-shadow: 1px 5px 25px rgba(0,20,20, .1);
  margin: 3rem auto;

}
input,
button{
  height: 1.4rem;
  padding: .3rem .8rem;
  border: none;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 1rem;
  box-sizing: unset;
  border: solid 2px rgba(0,0,0, 1);
  border-radius: 5px;
  text-align: center;
}

button{
  text-transform: uppercase;
  background: rgba(0,0,0,.9);
  border: solid 2px rgba(0,0,0,1);
  color: white;
  transition: 1s;
  cursor: pointer

}
button:hover{
  border: solid 2px rgba(255,255,255,1);
}

.header-wrap p{
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 1rem;
  display: flex;
  min-width: 15rem;
}
.header-wrap span{
  border-left: solid white 1px;
  border-right: solid white 1px;
  margin: 0 1rem;
  min-width: 3rem;
  text-align: center;
}


.gameWrap{
  box-shadow: 1px 10px 15px rgba(0,20,20, .5);
  margin-bottom: 2rem;

}

.card{
  width: 13vw;
  height: 13vw;
  background: rgba(0,0,0,.9);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .2s;
  border: solid 2px rgba(0,0,0,.5);
}
.card:hover{
  transform: scale(1.1);
  border: solid 3px white;

}

.card img{
  object-fit: cover;
}
.gameWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 62vw;
  height: 45vw;
  padding: 2vw;
  margin: auto;
  margin-top: 2vw;
  background: rgba(0,0,0,.9);
  
}
